<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
       
    </style>
</head>

<body>
    <div id="app">
        <!--<el-row>
            <el-col span="24"><div class="grid-content bg-purple-dark">312321</div></el-col>
        </el-row>-->
        <!--html中修改的-->
        <!--<h1>{{message + '这是在outer HTML中的'}}</h1>-->

        <!-- 图标 -->
        <!-- <i class="el-icon-error"></i> -->
         
        <!-- <el-radio v-model ="radio" label="1">备选项</el-radio>
        <el-radio v-model ="radio" label="2">备选项</el-radio>  -->
        

        <!-- 时间 -->
        <div class="block" style="float: left;">
            <span class="demonstration">默认</span>
            <el-date-picker
              v-model="value1"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
        </div>

        <div class="block" style="float: left; margin-left:20px">
            <span class="demonstration">带快捷选项</span>
            <el-date-picker
              v-model="value2"
              align="right"
              type="date"
              placeholder="选择日期"
              :picker-options="pickerOptions1">
            </el-date-picker>
        </div>


    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <!--<script src="01-life-cycle.js"></script>-->


    <script>
        //Element ui 的使用
        new Vue({
            el: '#app',
            data() {
              return {
                pickerOptions1: {
                  disabledDate(time) {
                    return time.getTime() > Date.now();
                  },
                  shortcuts: [{
                    text: '今天',
                    onClick(picker) {
                      picker.$emit('pick', new Date());
                    }
                  }, {
                    text: '昨天',
                    onClick(picker) {
                      const date = new Date();
                      date.setTime(date.getTime() - 3600 * 1000 * 24);
                      picker.$emit('pick', date);
                    }
                  }, {
                    text: '一周前',
                    onClick(picker) {
                      const date = new Date();
                      date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                      picker.$emit('pick', date);
                    }
                  }]
                },
                value1: '',
                value2: '',
              };
            },
            watch: {
                value1: function(newVal, oldVal){
                    console.log(new Date(), "newVal+")
                },
                value2: function(){},

            },

        });         

    </script>
</body>

</html>